.introSequenceImage {
  filter: drop-shadow(2px 4px 6px hsl(var(--pf)));
  animation: glow 1.5s ease-in;
}

.button {
  filter: drop-shadow(2px 4px 6px hsl(var(--pf)));
}

@keyframes glow {
  0% {
    filter: brightness(0) drop-shadow(2px 4px 0px white);
  }
  100% {
    filter: brightness(1) drop-shadow(2px 4px 6px hsl(var(--pf)));
  }
}