@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    text-rendering: optimizeLegibility;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--p)) hsl(var(--s));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--p));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--n));
  border-radius: 14px;
  border: 3px solid hsl(var(--p));
}
